[submodule "vendor/kookit"]
	path = vendor/kookit
	url = https://github.com/B2Gdevs/kookit.git
[submodule "vendor/koodo-reader"]
	path = vendor/koodo-reader
	url = https://github.com/B2Gdevs/koodo-reader.git
[submodule "vendor/repo-planner"]
	path = vendor/repo-planner
	url = https://github.com/MagicbornStudios/RepoPlanner.git
[submodule "vendor/repub-builder"]
	path = vendor/repub-builder
	url = https://github.com/MagicbornStudios/repub-builder
[submodule "vendor/grime-time-site"]
	path = vendor/grime-time-site
	url = https://github.com/B2Gdevs/grime_time_site.git
