[submodule "vendor/repo-planner"]
	path = vendor/repo-planner
	url = https://github.com/MagicbornStudios/RepoPlanner.git
[submodule "vendor/repub-builder"]
	path = vendor/repub-builder
	url = https://github.com/MagicbornStudios/repub-builder
[submodule "vendor/grime-time-site"]
	path = vendor/grime-time-site
	url = https://github.com/B2Gdevs/grime_time_site.git
[submodule "vendor/mb-cli-framework"]
	path = vendor/mb-cli-framework
	url = https://github.com/MagicbornStudios/mb-cli-framework.git
[submodule "vendor/get-anything-done"]
	path = vendor/get-anything-done
	url = https://github.com/MagicbornStudios/get-anything-done.git
[submodule "vendor/gad-manuscript"]
	path = vendor/gad-manuscript
	url = https://github.com/MagicbornStudios/gad-manuscript.git
